*{
    margin: 0%;
}
/*General*/
.home, footer{
    font-family: 'Poppins', sans-serif;

}

/*Nav Bar*/
.navbar{
    background-color: #4A7C59;
    padding-inline: 30px;
    padding-block: 20px;
    display: flex;
    align-items: center;
    color: #FAFAFA;
    
}

.logo-principal{
    height: 70px;
    width: 70px;
    margin-right: 20px;
}

/*Sección principal*/
.main{
    color: #FAFAFA;
    background-image: url(/assets/imagen-presentacion.jpg);
    background-size: cover;
    background-position: center;
    padding: 5% 2%;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}
.texto-principal{
    width: 70%; 
}

/*Formulario*/
.form{
    width: 30%;
    border-radius: 30px;
    border: 5px solid #4A7C59;
    border-color: #4A7C59;
    background-color: #FAFAFA;
    padding: 1.5%;
    color: #0F1912;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
}

.text-form{
    text-align: center;
}
#form-ele{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #474747;
    color: #474747;
    background-color: #FAFAFA;
    margin-bottom: 20px;
}

.btn{
    border-radius: 10px;
    background-color:#4A7C59;
    color: #FAFAFA;
    height: 35px;
    width: 100%;
    border-radius: 10px;
}
/*Sección Áreas de Práctica*/
.h2{
    text-align: center;
    margin-top: 5%;
}

.derecho{
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}

.areas{
    padding: 5% 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card{
    width: 35%;
    border: 3px solid #4A7C59;
    border-radius: 30px;
    font-family: Poppins, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 2.5%;
    padding: 5%;
}

.contenido{
    margin-top: 10px;
}
/*Sección Prguntas Frecuentes*/
.preg-frec{
    background-image: url(/assets/imagen-preguntas-frecuentes.jpg);
    background-size: cover;
    background-position: center;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    padding: 5% 2%;
}

.questions, .answer{
    width: 100%;
    display: grid;
    align-items: center;
}

.dropdown{
    color: #FAFAFA;
    border-radius: 30px;
    border: 3px solid #4A7C59;
    background-color: #86A890;
    margin-bottom: 5%;
    text-align: left;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.answer{
    position: relative;
    border-radius: 30px;
    border: 3px solid #0F1912;
    background-color: #4A7C59;
    color: #FAFAFA;
    margin-top: 5%;
}

/*Footer*/
.footer{
    color: #0F1912;
    background-color: #4A7C59;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
}

.contacto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.redes-sociales{
    display: flex;
    align-items: center;  
}

/*Iconos*/
.icono{
    height: 15px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.icono:hover {
    transform: scale(2.1);
}



.salta-coders{
    width: 100px;
    height: 15px;
}

/* Iconos de redes sociales en el footer */
.icono-rrss {
    width: 50px;
    height: 50px;
    padding-right: 10px;
    transition: all 0.3s;
}

.icono-rrss:hover {
    transform: scale(1.2);
}

.logo-secundario {
    width: 225px;
    height: 225px;
    padding-right: 10px;
    transition: all 0.3s;

}

.logo-secundario:hover {
    transform: scale(1.1); 
}

/* Media Queries para hacerlo responsive */
@media (max-width: 768px) {
    .contacto {
        justify-content: center; /* Centra los elementos en pantallas más pequeñas */
    }

    .icono {
        margin-right: 5px; /* Reduzco aún más el margen en pantallas más pequeñas */
    }

    .icono-rrss {
        margin-right: 5px; /* Reduzco aún más el margen en pantallas más pequeñas */
    }
}