/*General*/
.home, footer{
    font-family: 'Poppins', sans-serif;

}

/*Nav Bar*/
.navbar{
    background-color: #4A7C59;
    padding-inline: 30px;
    padding-block: 20px;
    display: flex;
    align-items: center;
    color: #FAFAFA;
    
}

.logo-principal{
    height: 70px;
    width: 70px;
    margin-right: 20px;
}

/*Sección principal*/
.main{
    color: #FAFAFA;
    background-image: url(/assets/imagen-presentacion.jpg);
    background-size: cover;
    background-position: center;
    padding: 60px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.texto-principal{
    width: 40%;
    padding-left: 60px;
}

.form{
    width: minx-content;
    border-radius: 30px;
    border: #0F1912;
    border-width: 30px;
    border-color: #4A7C59;
    background-color: #FAFAFA;
    padding: 30px;
    color: #0F1912;
    display: grid;
    justify-content: center;
}

.text-form{
    text-align: center;
}
#form-ele{
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border-color: #474747;
    color: #474747;
    background-color: #FAFAFA;
    margin-bottom: 20px;
}

.btn{
    border-radius: 10px;
    background-color:#4A7C59;
    color: #FAFAFA;
    height: 30px;
    width: 350px;
    border-radius: 10px;
}
/*Sección Áreas de Práctica*/
.h2{
    text-align: center;
    margin-top: 90px;
}

.derecho{
    text-align: center;
}

.areas{
    padding: 30px;
    padding-bottom: 60px;
    display: flex;
}

.area-container{
    width: 25%;
}

/*Sección Prguntas Frecuentes*/
.preg-frec{
    background-image: url(/assets/imagen-preguntas-frecuentes.jpg);
    background-size: cover;
    background-position: center;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    padding-block: 60px;
    padding-left: 60px;
}

.questions, .answer{
    width: 55%;
    display: grid;
    align-items: center;
}

.dropdown{
    color: #FAFAFA;
    border-radius: 30px;
    border-color: #4A7C59;
    background-color: #86A890;
    margin-bottom: 40px;
    text-align: left;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.answer{
    position: relative;
    height: max-content;
    border-radius: 30px;
    border-color: #0F1912;
    background-color: #4A7C59;
    color: #FAFAFA;
}

/*Footer*/
.footer{
    color: #0F1912;
    background-color: #4A7C59;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 120px;
    padding-block: 60px;
}

.contacto{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-secundario{
    width: 300px;
    height: 150px;
}

.redes-sociales{
    display: flex;
    align-items: center;  
}

/*Iconos*/
.icono{
    height: 15px;
    width: 20px;
    margin-right: 20px;
}

.icono-rrss{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.salta-coders{
    width: 100px;
    height: 15px;
}